# Ignoring dataset images and annotations ----------------------------------------------------------------------------------------------
*.jpg
*.jpeg
*.xml
*.txt

!requirements.txt
!anpr_logo.jpg
# Ignoring test and output video
*.mp4
*.avi


# Ignoring YOLOv5 directory
yolov5/

yolov5/*
!yolov5/runs/
